*{margin:0;
padding:0;}
header{   
 width:100%;
  padding: 60px;
  text-align:center;
  background-color:burlywood;
  color:darkgoldenrod;
  font-size: 30px;
  
  font-family:monospace;

   
}

ul{list-style-type:none;  
padding-top:30px;
padding-bottom:30px;
}
a{
color:darkgoldenrod;
font-size:20px;
font-family:monospace;
padding:4px;
text-decoration:none;
list-style-type: none;
 margin:1.8%;
}
li{
 display:inline;     
}
a:hover{
color:burlywood;
}

img{
    width:100%;

}